* {
  margin: 0;
  padding: 0;
  color: $color-font;
}

a:hover{
  text-decoration: none;
  opacity: 0.5;
}

ul{
  list-style: none;
}

.inner{
  height: 100%;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  color: $color-white;
}

.alert{
  margin-bottom: 0;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

