<header class="header">
  <div class="inner header-inner">
    <%= link_to "#", class: "header-inner-link" do%>
      <h1 class="header-title">Regyu.site</h1>
    <% end %>
    <%= link_to "#", class: "header-inner-link header-inner-signin" do%>
      <i class="fas fa-sign-in-alt"></i>ログイン
    <% end %>
    <%= link_to "#", class: "header-inner-link header-inner-signup" do%>
      <i class="fas fa-user-plus"></i>ユーザー登録
    <% end %>
  </div>
</header>