<nav class="nav-crumb">
  <div class="inner nav-inner">
    <ul class="nav-list">
      <li class="review-index">
        <%= link_to reviews_path do %>
          <i class="fas fa-comments"></i>一覧レビュー
        <% end %>
      </li>
      <li class="search-restaurant">
        <%= link_to restaurants_path do %>
          <i class="fas fa-search"></i>店舗検索
        <% end %>
      </li>
      <li class="rank-index">
        <%= link_to "#" do %>
          <i class="fas fa-crown"></i>ランキング
        <% end %>
      </li>
    </ul>
  </div>
</nav>