.calender-inner{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  .container{
    margin-top: 60px;
    &-calender{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      &__contents{
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 20px;
        a{
          color: $color-base;
        }
        a:hover{
          opacity: 0.5;
        }
      }
    }
    &-calender__new{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      &-title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      &-contents{
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 20px;
        text-align: center;
        table{
          border: 1px solid rgba(0, 0, 0, 0.125);
          width: 90%;
          margin: 0 auto;
          margin-bottom: 20px;
          th{
            width: 20%;
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
            text-align: left;
          }
          td{
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
            input,textarea,select{
              width: 100%;
              font-size: 16px;
              padding: 8px;
            }
            select{
              margin-bottom: 5px;
            }
            #event_start_time_2i,#event_start_time_3i{
              width: 49%;
            }
            #event_start_time_4i,#event_start_time_5i{
              width: 48%;
            }
            p{
              margin: 0;
            }
          }
        }
        input[type="submit"]{
          background-color: $color-btn;
          color: $color-white;
          padding: 8px 20px;
        }
      }
    }
    &-calender__show{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      &-title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      &-contents{
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 20px;
        text-align: center;
        table{
          border: 1px solid rgba(0, 0, 0, 0.125);
          width: 90%;
          margin: 0 auto;
          margin-bottom: 46px;
          th{
            width: 20%;
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
            text-align: left;
          }
          td{
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
          }
        }
        .btn-danger{
          margin: 15px;
        }
      }
    }
  }
}

.simple-calendar {
  .calendar-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    a{
      text-decoration: none;
    }
    span {
      margin: 0 30px;
    }
  }
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;
    a{
      text-decoration: none;
    }
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    text-align: left;
    font-size: 16px;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 100px;
  }

  .today {
    background: #FFFFC0
  }
  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
}