.container{
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  width: 100%;
  margin-top: 60px;
  &-review__title{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.03);
    i{
      margin-right: 10px;
    }
  }
  &-review__content{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.125);
    margin-bottom: 20px;
    .review-head{
      margin: 20px 0 80px;
      border-bottom: 1px solid rgba(0,0,0,0.125);
      position: relative;
      padding-bottom: 16px;
      .review-title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 24px;
        letter-spacing: .05em;
      }
      .star-rate{
        margin-bottom: 16px;
        img{
          height: 36px;
          width: 36px;
        }
      }
      .restaurant-name{
        font-size: 16px;
        a{
          color: $color-font;
        }
        a:hover{
          opacity: 0.5;
        }
      }
      a:hover{
        opacity: 0.5;
      }
      .user-name{
        position: absolute;
        bottom: 16px;
        right: 100px;
        color: $color-base;
        .bi-pencil{
          margin-left: 5px;
        }
      }
      .user-image{
        position: absolute;
        display: block;
        right: 20px;
        bottom: 16px;
        img{
          border: 1px solid rgba(0,0,0,0.125);
          border-radius: 50%;
        }
      }
      .review-date{
        position: absolute;
        color: $color-base;
        right: 40px;
        bottom: -30px;
      }
    }
    .review-content{
      width: 80%;
      margin: 0 auto;
      &__image{
        margin-bottom: 60px;
        img{
          width: 100%;
          height: 450px;
        }
      }
      &__text{
        text-align: left;
        font-size: 16px;
        line-height: 1.75;
        white-space: pre-line;
        margin-bottom: 40px;
      }
      .review-sub__image{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include clearfix();
        width: 100%;
        margin-bottom: 160px;
        .sub-image{
          width: 48%;
          margin: 0 auto;
          margin-bottom: 20px;
          img{
            width: 100%;
            height: 300px;
          }
        }
      }
    }
    .review-summary{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      &__title{
        font-size: 18px;
        border-bottom: 1px solid;
        padding: 8px;
        margin-bottom: 60px;
      }
      &__date{
        margin-bottom: 60px;
      }
      .date-items{
        font-size: 16px;
        text-align: center;
        .item-title{
          color: $color-base;
          margin-right: 10px;
          font-size: 18px;
          i{
            margin-right: 5px;
          }
        }
      }
      ul li{
        display: inline;
      }
      .person-items{
        font-size: 16px;
        text-align: center;
        .item-title{
          color: $color-base;
          margin-right: 10px;
          font-size: 18px;
          i{
            margin-right: 5px;
          }
        }
      }
      .review-menu__title{
        color: $color-base;
        line-height: 50px;
        h3{
          font-size: 18px;
          color: $color-base;
          padding: 8px;
          border-bottom: 1px solid;
          i{
            margin-right: 5px;
          }
        }
      }
      .review-menu__total-price{
        font-size: 20px;
        text-align: right;
        border-bottom: 1px solid;
        clear: both;
        padding-top: 20px;
        span{
          font-size: 36px;
          margin-left: 10px;
        }
      }
      p{
        margin-top: 20px;
        text-align: right;
        color: $color-base;
        font-size: 12px;
        padding-bottom: 40px;
        border-bottom: 1px solid;
      }
    }
    .review-link{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      border-bottom: 1px solid $color-base;
      &__restaurant{
        .btn{
          padding: 20px 10px;
          margin-bottom: 10px;
          i{
            margin-right: 5px;
          }
        }
      }
      &__profile{
        margin-bottom: 20px;
        .btn{
          i{
            margin-right: 5px;
          }
        }
      }
    }
    .review-btn{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      &__like{
        display: inline-block;
        .btn-secondary{
          background-color: $color-white;
          color: $color-font;
          margin: 0 15px;
          i{
            margin-right: 5px;
          }
        }
      }
      &__edit{
        display: inline-block;
        .btn-primary{
          color: $color-font;
          margin: 0 15px;
          i{
            margin-right: 5px;
          }
        }
      }
      &__destroy{
        display: inline-block;
        .btn-danger{
          color: $color-font;
          margin: 0 15px;
          i{
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.container-review__new{
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.125);
  margin-bottom: 20px;
  text-align: center;
  table{
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    th{
      width: 20%;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 20px 10px;
      text-align: left;
    }
    td{
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 20px 10px;
      img{
        height: 36px;
        width: 36px;
      }
      input,textarea,select{
        width: 100%;
        font-size: 16px;
        padding: 8px;
      }
      #review_total_price{
        width: 90%;
        margin-right: 5%;
      }
    }
  }
  input[type="submit"]{
    background-color: $color-btn;
    color: $color-white;
    padding: 8px 20px;
  }
}