.container{
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  width: 100%;
  margin-top: 60px;
  &-review__title{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.03);
    i{
      margin-right: 10px;
    }
  }
  &-review__content{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.125);
    margin-bottom: 20px;
    .review-head{
      margin: 20px 0 80px;
      border-bottom: 1px solid rgba(0,0,0,0.125);
      position: relative;
      padding-bottom: 16px;
      .review-title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 60px;
        letter-spacing: .05em;
      }
      .restaurant-name{
        font-size: 16px;
        a{
          color: $color-font;
        }
      }
      .user-name{
        position: absolute;
        bottom: 16px;
        right: 100px;
        color: $color-base;
        .bi-pencil{
          margin-left: 5px;
        }
      }
      .user-image{
        position: absolute;
        display: block;
        right: 20px;
        bottom: 16px;
        img{
          border: 1px solid rgba(0,0,0,0.125);
          border-radius: 50%;
        }
      }
      .review-date{
        position: absolute;
        color: $color-base;
        right: 40px;
        bottom: -30px;
      }
    }
    .review-content{
      width: 80%;
      margin: 0 auto;
      &__image{
        margin-bottom: 60px;
        img{
          width: 100%;
          height: 450px;
        }
      }
      &__text{
        text-align: left;
        font-size: 16px;
        line-height: 1.75;
        white-space: pre-line;
        margin-bottom: 40px;
      }
      .review-sub__image{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include clearfix();
        width: 100%;
        margin-bottom: 160px;
        .sub-image{
          width: 48%;
          margin: 0 auto;
          margin-bottom: 20px;
          img{
            width: 100%;
            height: 300px;
          }
        }
      }
    }
    .review-summary{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      &__title{
        font-size: 18px;
        border-bottom: 1px solid;
        padding: 8px;
        margin-bottom: 60px;
      }
      &__date{
        margin-bottom: 60px;
      }
      .date-items{
        font-size: 16px;
        text-align: center;
        .item-title{
          color: $color-base;
          margin-right: 10px;
          font-size: 18px;
          i{
            margin-right: 5px;
          }
        }
      }
      ul li{
        display: inline;
      }
      .person-items{
        font-size: 16px;
        text-align: center;
        .item-title{
          color: $color-base;
          margin-right: 10px;
          font-size: 18px;
          i{
            margin-right: 5px;
          }
        }
      }
      .review-menu__title{
        color: $color-base;
        line-height: 50px;
        h3{
          font-size: 18px;
          color: $color-base;
          padding: 8px;
          border-bottom: 1px solid;
          i{
            margin-right: 5px;
          }
        }
      }
      .review-menu__items{
        border-bottom: 1px solid $color-base;
        &-name{
          color: $color-font;
          width: 85%;
          float: left;
          line-height: 1.75;
          padding: 12px 0;
          text-align: left;
          border-bottom: 1px solid $color-base;
        }
        &-price{
          color: $color-font;
          width: 10%;
          float: left;
          line-height: 1.75;
          padding: 12px 0;
          text-align: left;
          border-bottom: 1px solid $color-base;
        }
        &-number{
          color: $color-base;
          width: 5%;
          float: right;
          line-height: 1.75;
          padding: 12px 0;
          text-align: right;
          border-bottom: 1px solid $color-base;
          span{
            color: $color-base;
          }
        }
      }
      .review-menu__total-price{
        font-size: 20px;
        text-align: right;
        border-bottom: 1px solid;
        span{
          font-size: 36px;
          margin-left: 10px;
        }
      }
      p{
        margin-top: 20px;
        text-align: right;
        color: $color-base;
        font-size: 12px;
      }
    }
  }
}