.mypage-inner{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  .mypage-container{
    @include clearfix();
    margin-top: 60px;
    margin-bottom: 40px;
    .mypage-sidebar{
      width: 30%;
      float: left;
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      &__nav-title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      &__nav-items{
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 40px;
        a{
          color: $color-font;
          li{
            border-bottom: 1px solid rgba(0,0,0,0.125);
            padding: 20px 20px;
            font-size: 16px;
            i{
              margin-right: 10px;
            }
          }
          .sidebar-last-child{
            border-bottom: none;
          }
        }
        a:hover{
          li{
            background-color: rgba(0,0,0,0.03);
          }
          i,span{
            color: $color-base;
          }
        }
      }
    }
    .mypage-contents{
      width: 60%;
      float: right;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      .user{
        height: 552px;
        padding: 20px;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.125);
        &-image{
          display: block;
          img{
            border: 1px solid rgba(0,0,0,0.125);
            border-radius: 50%;
          }
        }
        h2{
          margin-top: 10px;
          font-size: 32px;
        }
        p{
          margin-top: 24px;
          font-size: 16px;
        }
        table{
          border: 1px solid rgba(0,0,0,0.125);
          width: 80%;
          margin: 0 auto;
          margin-top: 100px;
          th,td{
            border: 1px solid rgba(0,0,0,0.125);
            padding: 20px 10px;
          }
        }
      }
      &__content{
        padding: 20px;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.125);
        clear: both;
        table{
          border: 1px solid rgba(0, 0, 0, 0.125);
          width: 90%;
          margin: 0 auto;
          margin-bottom: 20px;
          th{
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
            text-align: left;
          }
          td{
            border: 1px solid rgba(0, 0, 0, 0.125);
            padding: 20px 10px;
            input,textarea{
              width: 100%;
              font-size: 16px;
              padding: 8px;
            }
            p{
              input{
                width: 10%;
              }
            }
          }
        }
        input[type="submit"]{
          background-color: $color-btn;
          color: $color-white;
          padding: 8px 20px;
        }
        .destroy-btn{
          input[type="submit"]{
            background-color: #dc3545;
            margin-top: 60px;
          }
        }
      }
    }
  }
}

.profile-inner{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  .profile-container{
    margin-top: 60px;
    .profile-section1{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      margin-bottom: 60px;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      .user{
        padding: 20px;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.125);
        &-image{
          display: block;
          img{
            border: 1px solid rgba(0,0,0,0.125);
            border-radius: 50%;
          }
        }
        h2{
          margin-top: 10px;
          font-size: 32px;
        }
        p{
          margin-top: 24px;
          font-size: 16px;
        }
      }
    }
    .profile-section2{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      margin-bottom: 60px;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      .reviews{
        padding: 32px;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 20px;
        &-contents{
          margin-top: 20px;
          ul{
            width: 100%;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
              width: 100%;
              margin-right: 10px;
              border: 1px solid rgba(0,0,0,0.125);
              margin-bottom: 16px;
              position: relative;
              .review-image{
                width: 40%;
                img{
                  width: 100%;
                  float: left;
                  height: 260px;
                }
              }
              .review-show{
                width: 60%;
                float: right;
                height: 260px;
                h3{
                  color: $color-btn;
                  font-size: 24px;
                  margin-left: 15px;
                  margin-top: 15px;
                  margin-bottom: 24px;
                  @media screen and (min-width: 960px) {
                    margin-bottom: 12px;
                  }
                }
                .review-subject{
                  font-size: 16px;
                  margin-left: 15px;
                  border-bottom: 1px solid $color-font;
                  margin-bottom: 60px;
                }
                .review-date{
                  font-size: 12px;
                  color: $color-base;
                  margin-right: 15px;
                  position: absolute;
                  right: 60px;
                  bottom: 20px;
                }
                .review-name{
                  font-size: 16px;
                  margin: 0 15px 5px 0;
                  color: $color-base;
                  position: absolute;
                  bottom: 10px;
                  right: 60px;
                  padding: 0;
                  .bi-pencil{
                    margin-left: 5px;
                  }
                }
                .user-image{
                  position: absolute;
                  display: block;
                  right: 10px;
                  bottom: 10px;
                  img{
                    border: 1px solid rgba(0,0,0,0.125);
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .profile-section3{
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      width: 100%;
      margin-bottom: 60px;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      .bookmarks{
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 20px;
        &-contents{
          margin-top: 20px;
          ul{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0 auto;
            text-align: center;
            li{
              width: calc(100% / 3);
              margin-right: 10px;
              margin-bottom: 20px;
              border: 1px solid rgba(0,0,0,0.125);
              a{
                color: $color-btn;
                img{
                  width: 100%;
                  height: 220px;
                }
                h3{
                  font-size: 16px;
                  margin-top: 10px;
                }
                p{
                  font-size: 12px;
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
