.mypage-inner{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  .mypage-container{
    @include clearfix();
    margin-top: 60px;
    margin-bottom: 40px;
    .mypage-sidebar{
      width: 30%;
      float: left;
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
      &__nav-title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      &__nav-items{
        border: 1px solid rgba(0,0,0,0.125);
        margin-bottom: 40px;
        a{
          color: $color-font;
          li{
            border-bottom: 1px solid rgba(0,0,0,0.125);
            padding: 20px 20px;
            font-size: 16px;
            i{
              margin-right: 10px;
            }
          }
          .sidebar-last-child{
            border-bottom: none;
          }
        }
        a:hover{
          li{
            background-color: rgba(0,0,0,0.03);
          }
          i,span{
            color: $color-base;
          }
        }
      }
    }
    .mypage-contents{
      width: 60%;
      float: right;
      &__title{
        padding: 10px 20px;
        font-size: 24px;
        font-weight: bold;
        background-color: rgba(0,0,0,0.03);
      }
      .user{
        height: 552px;
        padding: 20px;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.125);
        &-image{
          display: block;
          img{
            border: 1px solid rgba(0,0,0,0.125);
            border-radius: 50%;
          }
        }
        h2{
          margin-top: 5px;
          font-size: 16px;
        }
        p{
          margin-top: 24px;
          font-size: 12px;
        }
        table{
          border: 1px solid rgba(0,0,0,0.125);
          width: 80%;
          margin: 0 auto;
          margin-top: 100px;
          th,td{
            border: 1px solid rgba(0,0,0,0.125);
            padding: 20px 10px;
          }
        }
      }
    }
  }
}
